[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
psycopg2-binary = "*"
pandas = "*"
flask = "*"
flask_sqlalchemy = "*"
wtforms = "*"
flask_login = "*"
gunicorn = "*"
flask_mail = "*"
flask_wtf = "*"
itsdangerous = "*"
email_validator = "*"
Flask-Script = "*"
xlrd = "*"

[requires]
python_version = "3.7"