{% extends "template.html" %}
{% block content %}
<!-- content -->
<div class="wrapper row2x">
  <div id="container">
    <!-- content body -->
    <div id="content">
      <!-- section 1 -->

This tool will help you learn, practice and sharpen your Japanese language skills. There are three sections to the platform, each teaching and testing different skills. The sections are sequential, that is, it is recommended to be performing well in previous sections to proceed. The sections follow the order demonstrated on the right, with number of correct answers shown in the box next to it.
<ul>
	<li><b>Learn Kana</b> - Learn Hiragana and Katakana. This section heavily features multiple choice questions with a twist - the answer options will be more likely to include mistakes you have previously made, as well as those from other users. Keyboard shortcuts are enabled to quickly fill out the exercises.</li>
	<li><b>Learn Words</b> - Learn helpful vocabulary. These include terms from Duolingo as well as additional terms that are useful in conversation.</li>
	<li><b>Learn Sentences</b> - Practice putting words into sentences. While Duolingo is especially good at this, Otsukare will help broaden your skill by providing you randomised sentences. This is especially helpful for getting your ear in for handling money and asking for your needs and wants. These tasks are heavily spoken word and listening/comprehension based, which is another advantage over Duolingo</li>
</ul>

</div>

{% include "game_actions.html" %}


<!-- footer -->
{% endblock %}